# Nagios-api default configuraiton file

# Port used by nagios-api
PORT=6315

# Nagios command file
NAGIOS_COMMAND=/var/lib/nagios4/rw/nagios.cmd

# Nagios status file (status.dat)
NAGIOS_STATUS=/var/lib/nagios4/status.dat

# Nagios log file
NAGIOS_LOG=/var/log/nagios4/nagios.log

# Nagios-api log file
LOGFILE=/var/log/nagios4/nagios-api.log

# Additional options
